# Quarto caches / temp
**/.quarto/
**/_freeze/
**/.ipynb_checkpoints/

# Generated deploy metadata
src/_deploy.yml

# OS/editor junk
.DS_Store
Thumbs.db

# Python virtual envs
.venv/
venv/

# Keep site/ tracked (DO NOT ignore it)
src/site/

.deploy/
.deploy

